doctype
html(lang='en')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='Example')
        meta(name='author', content= 'Thiago Lagden')
        link(rel='stylesheet', type='text/css', href='switch.css')
        style.
            .label {
                margin-bottom: 5px
            }

            .mar-b-20 {
                margin-bottom: 20px
            }

    title Example
    body
        h1 Example
        form(action='index.html', method='GET')
            .mar-b-20
                #labelSexo.label Qual é o sexo?
                .switchRadio
                    label(for='SexoM') Masculino
                    input#SexoM(type='radio', title='Masculino', name='sexo', value='M')
                    label(for='SexoF') Feminino
                    input#SexoF(type='radio', title='Feminino', name='sexo', value='F')

            .mar-b-20
                #labelSwitch.label Você achou esse switch bacana?
                .switchRadio
                    label(for='sim') Sim
                    input#sim(type='radio', title='Sim', name='switch', value='S', checked)
                    label(for='nao') Não
                    input#nao(type='radio', title='Não', name='switch', value='N')

            button(type='submit') OK

        script(src='switch.pkg.min.js')
        script.
            var eventChange = new CustomEvent('change');
            [].forEach.call(document.querySelectorAll('.switchRadio'), function(el, idx, arr) {
                var switchRadio = new Switch(el, false, el.previousElementSibling.id);
                var labels = el.getElementsByTagName('label');
                switchRadio.build(labels[0].textContent, labels[1].textContent);
                el.addEventListener('switched', function(event) {
                    var r = event.detail.radios;
                    for (var i = 0, len = r.length; i < len; i++) {
                        if(r[i].checked)
                            r[i].dispatchEvent(eventChange);
                    }
                });

                [].forEach.call(el.querySelectorAll('input[type=radio]'), function(radio) {
                    radio.addEventListener('change', function(event) {
                        console.log(event.currentTarget);
                    });
                });
            });


